<div class="infinite-scroll__buffer infinite-scroll__buffer--top" style="{{{topBufferStyle}}}"></div>
{{yield}}
<div class="infinite-scroll__buffer infinite-scroll__buffer--bottom" style="{{{bottomBufferStyle}}}"></div>
