<div class="infinite-scroll__buffer infinite-scroll__buffer--top" {{bind-attr style="topBufferStyle"}}></div>
{{yield}}
<div class="infinite-scroll__buffer infinite-scroll__buffer--bottom" {{bind-attr style="bottomBufferStyle"}}></div>