html, body {
  margin: 20px;
}

.infinite-scroll__list {
  border: 1px solid #CCC;
  height: 500px;
  width: 300px;
  margin-bottom: 20px;
  overflow: auto;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.infinite-scroll__item {
  border-bottom: 1px solid #CCC;
  padding: 20px 10px;
}

.example {
  float: left;
  margin-right: 20px;
}