<h2>Ember Infinite Scroll</h2>

<div class="example">
  {{#infinite-scroll
    on-load-next=(action "loadNextBidirectional")
    on-load-prev=(action "loadPrevBidirectional")
    tagName="ul"
    class="infinite-scroll__list"
  }}

    {{#each bidirectionalItems as |item|}}
      <li class="infinite-scroll__item">
        {{item.title}}
      </li>
    {{/each}}

  {{/infinite-scroll}}
</div>